---
import Header from "@/components/Header.astro"
import Movies from "@/components/Movies.astro"
import Hero from "@/components/Hero.astro"
---

<main>
    <Header />
    <Hero />
    <Movies />
</main>
