<footer class="footer">
    <p >&copy; Marlon Mora</p>
</footer>

<style>
    .footer > p {
        width: 100%;
        color: #ffffff;
        text-align: center;
        padding: 20px;
    }
</style>
